body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.nextArrow {
  width: 30%;
  margin: auto;
  padding: 1rem;
}

.rhythm img{
  height: auto;
  width: 250px;
}

.chord_name li{
  display: inline-block;
  /* border: 1px solid green; */
  margin: 0 6.5em;
}
